# CMake build files
cmake-build-release/
cmake-build-debug/
build.dev/
build.release/
build_*
build.*

# CLion
.idea/

# Object files
*.o

# Documentation
doc/

# Misc
.cache/
lab/
compile_commands.json
*.i64
*.dev.sh
patchs/