name: Arion documentation deployment workflow

on:
  push:
    branches: [ "main" ]
    tags: [ '*' ]
  workflow_dispatch:

jobs:
  documentation:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        lfs: 'true'

    - name: Install Doxygen
      run: sudo apt update && sudo apt upgrade && sudo apt -y install doxygen graphviz

    - name: Generate documentation
      run: doxygen Doxyfile

    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./doc/html
        publish_branch: gh-pages
