name: Arion tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Init submodules
      run: git submodule update --init --recursive

    - name: APT dependencies
      run: sudo apt update && sudo apt upgrade && sudo apt -y install uuid-dev coreutils gcc-multilib g++-multilib make cmake

    - name: Configure
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}} --parallel 4

    - name: Install
      run: sudo cmake --install ${{github.workspace}}/build

    - name: Run Tests
      run: |
        for test_dir in ${{github.workspace}}/tests/*/; do
          echo "Building test : $test_dir"
          mkdir -p "$test_dir/build"
          pushd "$test_dir/build" > /dev/null
          cmake .. -DCMAKE_BUILD_TYPE=Release
          cmake --build . --parallel
          echo "Running test : $test_dir"
          output=$(./test)
          popd > /dev/null
          echo "$output" | md5sum | awk '{print $1}' > "$test_dir/output.md5"
          md5sum "$test_dir/res.txt" | awk '{print $1}' > "$test_dir/res.md5"
          if ! diff -q "$test_dir/output.md5" "$test_dir/res.md5"; then
            echo "Failure."
            exit 1
          else
            echo "Success."
          fi
        done
